<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>Serbia</string>
	<key>CFBundleDisplayName</key>
	<string>SingiAttend</string>
	<key>CFBundleExecutable</key>
	<string>SingiAttend</string>
	<key>CFBundleIdentifier</key>
	<string>dev.markodojkic.SingiAttend</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SingiAttend</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2.0.3</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>ServerURL</key>
	<string>https://bb95256f75d3-10717805177775569279.ngrok-free.app</string>
	<key>ServerUsername</key>
	<string>singiattend-admin</string>
	<key>ServerPassword</key>
	<string>singiattend-server2021</string>
	<key>KeyChainServiceName</key>
	<string>SingiAttend-Student-Credentials</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>NSFaceIDUsageDescription</key>
	<string>We use Face ID to login student using previously saved credentials</string>
	<key>NSNetworkVolumesUsageDescription</key>
	<string>We use network to communicate with backend server</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
		<string>armv7</string>
		<string>wifi</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
